.header{
  background-color:grey;
  height: 90px;
  color:black;
}
.header-banner{
float: right;
color:white;
background-color:grey;
}
body{
margin:0px;
body:0px;
background-image: url(black.jpg);
background-size:cover;
}
footer{
    background-color:grey;
    height:50px;
    bottom: 0;
    position:fixed;
    width:100%;
    color:black;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color:grey;
}
.menu {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: black;
  overflow-x: hidden; 
  padding-top: 20px;
}

.menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
}
.menu a:hover {
  color:grey;
}
tr{
  color:white;
}
.main {
  margin-left: 160px; 
  padding: 0px 10px;
  background-color: black;
  background-image: url(black.jpg);
  background-size:cover;
}
@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}
img{
  border-radius: 50%;
}
h3{
  color:white;
  font-family: monospace;
}
ol{
  color:white;
  float:left;
}
.info{
  color:white;
}
h1{
  color:white;
  float:right;
}
h2{
  color:white;
  font-family: monospace;
}

